utilities/QTFakeScreen/Makefile
*aes256
.qmake.stash
qt5.app
moc_*
x86_server
.cproject
.project
Data/index.htm.h
Data/settings.htm.h
*.o
*.so
*.a
*.d
*.bin
*.elf
*.hex
*.map
*.log
.settings
*.project
*.htm.back
*.s19
*.s28
*.s37
*.srec
*.md5
*.cap
*.out
/tmp
proc_audio
/utilities/network_testing/example.txt
*.pyc
/utilities/version.txt
*.su
.DS_Store
*.Plo
*.lo
config.status
djpeg
jconfig.h
.deps/
.libs/
/submodules/jpeg-9b/Makefile
libtool
rdjpgcom
stamp-h1
wrjpgcom
*.la
cjpeg
jpegtran
