*aes256
.qmake.stash
qt5.app
moc_*
x86_server
.cproject
.project
*.gcov
*.gcda
*.gcno
test/gen/
*.o
*.so
*.a
*.d
*.bin
*.elf
*.hex
*.map
*.log
.settings
*.project
*.htm.back
*.s19
*.s28
*.s37
*.srec
*.md5
*.cap
*.out
/tmp
*.pyc
*.su
.DS_Store
*.Plo
*.lo
config.status
djpeg
jconfig.h
.deps/
.libs/
libtool
rdjpgcom
stamp-h1
wrjpgcom
*.la
cjpeg
jpegtran
